
<% for decade in @decades %>
<div class="decade-div">
<h2><a href="/decades/<%= decade.start_year %>"><%= decade.start_year.to_s + "s" %></a></h2>
<ol class="rankings-list">
  <% for film in decade.top_films %>
  <li><a href="/films/<%= film.id %>"><%= film.title %></a></li>
  <% end %>
</ol>

<form action="/rankings/decade" method="post">
  <input type="hidden" name="decade" value="<%= decade.start_year %>">
  <input type="submit" value="Add new ranking">
</form>
</div>
<% end %>


