

<h2>1960s</h2>
<ol>
<% for film in @films1960s %>
  <li><%= film.title %></li>
<% end %>
</ol>

<h2>1970s</h2>
<ol>
<% for film in @films1970s %>
<li><%= film.title %></li>
<% end %>
</ol>

<h2>1980s</h2>
<ol>
<% for film in @films1980s %>
<li><%= film.title %></li>
<% end %>
</ol>

<h2>1990s</h2>
<ol>
<% for film in @films1990s %>
<li><%= film.title %></li>
<% end %>
</ol>

<h2>2000s</h2>
<ol>
<% for film in @films2000s %>
<li><%= film.title %></li>
<% end %>
</ol>

<h2>2010s</h2>
<ol>
<% for film in @films2010s %>
<li><%= film.title %></li>
<% end %>
</ol>