<h2><%= @film.title %></h2>

<img src="<%= @film.poster_image %>" class="poster-med"><br>
<%= @film.year %><br>
IMDB rating: <%= @film.imdb_rating %><br>
<%= @film.summary %>
<br><br>


User score: <%= @film.user_rating %><br>
Combined score: <%= @film.combined_rating %>

<br><br>

<form action='/films/<%= @film.id %>/delete' method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>